<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<html>

    <head>
        <title>Affinity Clipboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        </head>

    <body>
        <h2>Here's your text!</h2>
        <h1></h1>
        <p class="wordWrap" id="text">{{text}}</p>

        <!-- Target -->
        <input type="hidden" id="foo" value={{text}}>

        <button class="btn" data-clipboard-target="#foo">Copy Text</button>

        <a href="https://github.com/thisisauzername/OnlineCopyPaste" target="_blank">GitHub</a>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script type="text/javascript">
      new ClipboardJS('.btn');
    </script>

</html>
